<section class="hero_carousel" id={{ id }}>
    <div>
        <img src="./assets/img/sprites/sprite.svg#p2s__logo_1" alt="Our Logo">
        <div>
            <h1>{{ content.hero.header }}</h1>
            <span>{{ content.hero.subheader }}</span>
            <p>{{ content.hero.text }}</p>
            <a href={{ content.hero.linkto }}>{{ content.hero.link }}</a>
        </div>
    </div>
    <div>
        <div class="carousel_max" data-carousel={{ content.hero.carousel_data }}></div>
    </div>
</section>